venv/
.venv/
env/
.env/

__pycache__/
*.pyc
*.pyo
*.pyd

.git/
.gitignore

logs/
*.log

.ipynb_checkpoints/
.DS_Store
Thumbs.db

artifacts/data_ingestion/
artifacts/data_validation/
artifacts/data_transformation/

*.ipynb